body, html {
    padding: 0;
    margin: 0 auto;
}

body {
    background-color: #ebf2f5;
}

/*#background {
    position: absolute;
    top: 0px;
    left: 0px;

    display: block;
    width: 100%;
    height: 100%;
}*/